In [1]:
##Importar bibliotecas a utilizar
import pandas as pd
import numpy as np
import datetime

In [2]:
## Importar datos
data_location = "properati.csv"
data = pd.read_csv(data_location, sep=",")
##Visualizar datos
data.head(3)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...

In [3]:
##Visualizar datos por "Provincia" para elegir grupo de datos a analizar
data["state_name"].value_counts()

Capital Federal                 32316
Bs.As. G.B.A. Zona Norte        25560
Bs.As. G.B.A. Zona Sur          13952
Córdoba                         12069
Santa Fe                        10172
Buenos Aires Costa Atlántica    10006
Bs.As. G.B.A. Zona Oeste         9322
Buenos Aires Interior            2291
Río Negro                         808
Neuquén                           733
Mendoza                           681
Tucumán                           674
Corrientes                        583
Misiones                          464
Entre Ríos                        369
Salta                             278
Chubut                            259
San Luis                          252
La Pampa                          157
Formosa                            65
Chaco                              57
San Juan                           40
Tierra Del Fuego                   31
Catamarca                          27
Jujuy                              26
Santa Cruz                         20
Santiago Del Estero                 4
La Rioja                            4
Name: state_name, dtype: int64

In [4]:
## Elegimos Buenos Aires Costa Atlantica por contar con una buena canitdad de datos (mas de 10 mil) y salir un poco del 
## mercado mas comun de AMBA.

## Generamos mascara para filtrar los datos
mask_costa = data["state_name"]=="Buenos Aires Costa Atlántica"
## Filtramos datos seleccionados
data_costa = data[mask_costa]
data_costa.head(3)

## Revisamos los nulos de los datos seleccionados
is_null = data_costa.isnull()
cant_nulls = is_null.sum()
print(cant_nulls)
data_costa.shape

Unnamed: 0                       0
operation                        0
property_type                    0
place_name                       0
place_with_parent_names          0
country_name                     0
state_name                       0
geonames_id                   1069
lat-lon                       1801
lat                           1801
lon                           1801
price                          947
currency                       947
price_aprox_local_currency     947
price_aprox_usd                947
surface_total_in_m2           3021
surface_covered_in_m2         2471
price_usd_per_m2              3656
price_per_m2                  3082
floor                         9843
rooms                         2360
expenses                      9566
properati_url                    0
description                      0
title                            0
image_thumbnail                 99
dtype: int64

(10006, 26)

In [8]:
## Exploracion de datos para analizar posibles oportunidades de limpieza de datos
data_costa["property_type"].value_counts()
data_costa["expenses"].value_counts()
data_costa["rooms"].value_counts()

2.0     2425
3.0     2172
4.0     1235
1.0      966
5.0      566
6.0      174
7.0       59
8.0       25
10.0      17
9.0        5
16.0       1
14.0       1
Name: rooms, dtype: int64

In [6]:
## Limpieza datos Expensas
## Datos Expensas General
cant_datos_expenses = data_costa["expenses"].shape[0]
is_null_expenses = data_costa["expenses"].isnull()
cant_nulls_expenses = is_null_expenses.sum()
porcentaje_null_expenses = cant_nulls_expenses/cant_datos_expenses*100
print("El porcetaje de nulos del dato Expensas en el total de los datos de propiedades en la costa es:" + str(porcentaje_null_expenses))

## Datos Expensas Departamentos
mask_dptos = data_costa["property_type"]=="apartment"
data_costa_dptos = data_costa[mask_dptos]

cant_datos_expenses_dpto = data_costa_dptos["expenses"].shape[0]
is_null_expenses_dpto = data_costa_dptos["expenses"].isnull()
cant_nulls_expenses_dpto = is_null_expenses_dpto.sum()
porcentaje_null_expenses_dpto = cant_nulls_expenses_dpto/cant_datos_expenses_dpto*100

print("El porcetaje de nulos del dato Expensas de departamentos de los datos de propiedades en la costa es:" + str(porcentaje_null_expenses_dpto))

## Dado que el % de nulos en la columna de expensas es alta tanto para todas las propiedades como para los 
## departamentos elegimos retirar la columna del data set

data_costa_limpia = data_costa
data_costa_limpia = data_costa_limpia.drop(labels ="expenses", axis = 1)

print(data_costa.shape)
print(data_costa_limpia.shape)
#data_costa_limpia.head(3)

El porcetaje de nulos del dato Expensas en el total de los datos de propiedades en la costa es:95.60263841694983
El porcetaje de nulos del dato Expensas de departamentos de los datos de propiedades en la costa es:93.60780065005417
(10006, 26)
(10006, 25)

In [7]:
## Limpieza datos piso ubicacion
## Datos Expensas General
cant_datos_floor = data_costa["floor"].shape[0]
is_null_floor = data_costa["floor"].isnull()
cant_nulls_floor = is_null_floor.sum()
porcentaje_null_floor = cant_nulls_floor/cant_datos_floor*100
print("El porcetaje de nulos del dato Floor en el total de los datos de propiedades en la costa es:" + str(porcentaje_null_floor))

## Datos Floor Departamentos
mask_dptos_floor = data_costa["property_type"]=="apartment"
data_costa_floor_dptos = data_costa[mask_dptos_floor]

cant_datos_floor_dpto = data_costa_floor_dptos["floor"].shape[0]
is_null_floor_dpto = data_costa_floor_dptos["floor"].isnull()
cant_nulls_floor_dpto = is_null_floor_dpto.sum()
porcentaje_null_floor_dpto = cant_nulls_floor_dpto/cant_datos_floor_dpto*100

print("El porcetaje de nulos del dato floor de departamentos de los datos de propiedades en la costa es:" + str(porcentaje_null_floor_dpto))

## Dado que el % de nulos en la columna de expensas es alta tanto para todas las propiedades como para los 
## departamentos elegimos retirar la columna del data set

data_costa_limpia = data_costa_limpia.drop(labels ="floor", axis = 1)

print(data_costa.shape)
print(data_costa_limpia.shape)
#data_costa_limpia.head(3)

El porcetaje de nulos del dato Floor en el total de los datos de propiedades en la costa es:98.37097741355187
El porcetaje de nulos del dato floor de departamentos de los datos de propiedades en la costa es:97.60099055873704
(10006, 26)
(10006, 24)